* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Outfit', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%;
}

.App {
  position: relative;
  min-height: 100vh;
}